{% extends "base.html" %}
{% block title %}Add User{% endblock %}

{% block content %}
<div class="card shadow-sm">
    <div class="card-body">
        <h2 class="text-center mb-3">Add New User</h2>
        <form method="post">
            {% csrf_token %}

            <div class="mb-3">
                <label for="id_first_name" class="form-label">First Name</label>
                {{ form.first_name }}
            </div>

            <div class="mb-3">
                <label for="id_last_name" class="form-label">Last Name</label>
                {{ form.last_name }}
            </div>

            <div class="mb-3">
                <label for="id_username" class="form-label">Username</label>
                {{ form.username }}
            </div>

            <div class="mb-3">
                <label for="id_email" class="form-label">Email</label>
                {{ form.email }}
            </div>

            <div class="mb-3">
                <label for="id_password" class="form-label">Password</label>
                {{ form.password }}
            </div>

            <div class="mb-3">
                <label for="id_confirm_password" class="form-label">Confirm Password</label>
                {{ form.confirm_password }}
            </div>

            <button type="submit" class="btn btn-primary w-100">Register</button>
        </form>
    </div>
</div>
{% endblock %}
